.imgr2 {
  background-image: url(/img/IMG_3014.JPG);
  padding-top: 5%;
  padding-bottom: 15%;
  padding-right: 10%;
  padding-left: 10%;
  margin-left: 12%;
  width: 75%;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.reto2 {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}