$tipografia1: 'IBM Plex Sans Arabic', sans-serif;
$tipografia2: 'Roboto', sans-serif;

.reto1{
    width: 100vw;
    height: 100vh;
}

.ejemp1{
    width: 45%;
    display: inline-block;

    border-style: dotted;
    border-color: rgb(189, 255, 7);
    border: 10px;
    
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 20px;
    
    color: aliceblue;
    font-family: $tipografia2;
    background-color: rgb(139, 7, 248);
    
}

.imgr2{
    background-image: url(/img/IMG_3014.JPG);
    
    padding-top: 5%;
    padding-bottom: 15%;
    padding-right: 10%;
    padding-left: 10%;

    margin-left: 12%;
    width: 75%;
    font-family: $tipografia2;

    } 

    .reto2{
        font-family: $tipografia1;
    }

    